<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>员工信息管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../plugins/select2/select2.css" />
    <link rel="stylesheet" href="../plugins/select2/select2-bootstrap.css" />
    <script src="../plugins/select2/select2.min.js" type="text/javascript"></script>

	<!--手动引入部分-->
	<!--1. 引入angularjs-->
	<script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
	<!--2. 分页组件开始 -->
	<script src="../plugins/angularjs/pagination.js"></script>
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	<!-- 分页组件结束 -->
	<!--3. 引入模块，控制层，服务层-->
	<script src="../js/base_pagnation.js"></script>
	<script src="../js/service/recruitService.js"></script>
	<script src="../js/controller/baseeController.js"></script>
	<script src="../js/controller/recruitController.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="ems" ng-controller="recruitController">
  <!-- .box-body -->
                
                    <div class="box-header with-border">
                        <h3 class="box-title">招聘信息管理</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" ng-click="recruit={}"><i class="fa fa-file-o"></i> 新建</button>
                                        <button type="button" class="btn btn-default" title="删除" ng-click="dele()"><i class="fa fa-trash-o"></i> 删除</button>
                                       
                                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>

                            <div class="box-tools pull-right">

                                <div class="has-feedback">
											  姓名：<input  ng-model="searchEntity.name">
							                  应聘职位：<input  ng-model="searchEntity.jop">
									<button class="btn btn-default" ng-click="reloadList()">查询</button>
                                </div>
                            </div>
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue">
			                              </th> 
										  <th class="sorting_asc">应聘姓名</th>
									      <th class="sorting">应聘职位</th>
									      <th class="sorting">年龄</th>
										  <th class="sorting">所学专业</th>
										  <th class="sorting">毕业院校</th>
									      <th class="sorting">联系方式</th>

					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>

									  <tr ng-repeat="pojo in list">
			                              <td><input  type="checkbox" ng-click="updateSelection($event,pojo.id)"></td>
				                          <td>{{pojo.name}}</td>
									      <td>{{pojo.jop}}</td>
									      <td>{{pojo.age}}</td>
									      <td>{{pojo.major}}</td>
										  <td>{{pojo.school}}</td>
									      <td>{{pojo.phone}}</td>
		                                  <td class="text-center">                                           
		                                 	  <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal" ng-click="findOne(pojo.id)">修改</button>
		                                  </td>
			                          </tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->

							<!-- 分页 -->
							<tm-pagination conf="paginationConf"></tm-pagination>

						</div>
                        <!-- 数据表格 /-->
                        
                        
                        
                        
                     </div>
                    <!-- /.box-body -->
                    
	           
					    
                                
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">应聘信息编辑</h3>
		</div>
		<div class="modal-body">							
			
			<table class="table table-bordered table-striped"  width="800px">
		      	<tr>
		      		<td>姓名</td>
		      		<td><input  class="form-control" placeholder="应聘人姓名" ng-model="recruit.name">  </td>
		      	</tr>			   
		      	<tr>
		      		<td>职位</td>
		      		<td>
						<input  class="form-control" placeholder="职位" ng-model="recruit.jop">
		      		</td>
		      	</tr>
		      	<tr>
		      		<td>年龄</td>
		      		<td>
						<input  class="form-control" placeholder="年龄" ng-model="recruit.age">
		      		</td>
		      	</tr>
				<tr>
					<td>毕业院校</td>
					<td>
						<input  class="form-control" placeholder="毕业院校" ng-model="recruit.school">
					</td>
				</tr>
				<tr>
					<td>联系方式</td>
					<td>
						<input  class="form-control" placeholder="联系方式" ng-model="recruit.phone">
					</td>
				</tr>
				<tr>
					<td>毕业专业</td>
					<td>
						<input  class="form-control" placeholder="毕业专业" ng-model="recruit.major">
					</td>
				</tr>
				<tr>
					<td>邮箱</td>
					<td>
						<input  class="form-control" placeholder="邮箱" ng-model="recruit.email">
					</td>
				</tr>
				<tr>
					<td>性别</td>
					<td>
						<input type="radio" ng-value="1" ng-model="recruit.sex">男
						<input type="radio" ng-value="0" ng-model="recruit.sex">女
					</td>
				</tr>
				<tr>
					<td>工作经历</td>
					<td>
						<input  class="form-control" placeholder="工作经历(选填)" ng-model="recruit.content">
					</td>
				</tr>


			</table>
			
		</div>
		<div class="modal-footer">						
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()">保存</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>
    
</body>

</html>