<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>员工薪金管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../plugins/select2/select2.css" />
    <link rel="stylesheet" href="../plugins/select2/select2-bootstrap.css" />
    <script src="../plugins/select2/select2.min.js" type="text/javascript"></script>

	<!--手动引入部分-->
	<!--1. 引入angularjs-->
	<script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
	<!--2. 分页组件开始 -->
	<script src="../plugins/angularjs/pagination.js"></script>
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	<!-- 分页组件结束 -->
	<!--3. 引入模块，控制层，服务层-->
	<script src="../js/base_pagnation.js"></script>
	<script src="../js/service/staffService.js"></script>
	<script src="../js/service/salaryService.js"></script>
	<script src="../js/controller/baseeController.js"></script>
	<script src="../js/controller/salaryController.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="ems" ng-controller="salaryController" ng-init="findEntity()">
  <!-- .box-body -->
                
                    <div class="box-header with-border">
                        <h3 class="box-title">薪金管理</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>

                            <div class="box-tools pull-right">

                                <div class="has-feedback">
									 </div>
                            </div>
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
										  <th class="sorting_asc">序号</th>
										  <th class="sorting_asc">姓名</th>
									      <th class="sorting">基本工资</th>
										  <th class="sorting">补贴</th>
										  <th class="sorting">赋税</th>
										  <th class="sorting">总计</th>
										  <th class="sorting">发放时间</th>
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>

									  <tr ng-repeat="pojo in list">
			                              <td>{{$index+1}}</td>
				                          <td>{{staff.name}}</td>
									      <td>{{pojo.basic}}</td>
									      <td>{{pojo.eat+pojo.house+pojo.duty+pojo.additionalBenefits}}</td>
										  <td>{{pojo.scot}}</td>
										  <td>{{pojo.total}}</td>
									      <td>{{pojo.createTime}}</td>
		                                  <td class="text-center">                                           
		                                 	  <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal" ng-click="findOne(pojo.id)">详情</button>
		                                  </td>
			                          </tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->

							<!-- 分页 -->
							<tm-pagination conf="paginationConf"></tm-pagination>

						</div>
                        <!-- 数据表格 /-->
                        
                        
                        
                        
                     </div>
                    <!-- /.box-body -->
                    
	           
					    
                                
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">薪金信息详情</h3>
		</div>
		<div class="modal-body">							
			
			<table class="table table-bordered table-striped"  width="800px">
		      	<tr>
		      		<td>姓名</td>
		      		<td>
						<input  class="form-control" placeholder="基本工资" ng-model="staff.name">
					</td>
		      	</tr>			   
		      	<tr>
		      		<td>基本工资</td>
		      		<td>
						<input  class="form-control" placeholder="基本工资" ng-model="entity.basic">
		      		</td>
		      	</tr>
		      	<tr>
		      		<td>餐补</td>
		      		<td>
						<input  class="form-control" placeholder="餐补" ng-model="entity.eat">
		      		</td>
		      	</tr>
				<tr>
					<td>房补</td>
					<td>
						<input  class="form-control" placeholder="房补" ng-model="entity.house">
					</td>
				</tr>
				<tr>
					<td>全勤</td>
					<td>
						<input  class="form-control" placeholder="全勤" ng-model="entity.duty">
					</td>
				</tr>
				<tr>
					<td>赋税</td>
					<td>
						<input  class="form-control" placeholder="赋税" ng-model="entity.scot">
					</td>
				</tr>
				<tr>
					<td>额外补助</td>
					<td>
						<input  class="form-control" placeholder="额外补助" ng-model="entity.additionalBenefits">
					</td>
				</tr>



			</table>
			
		</div>
		<div class="modal-footer">						
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()">保存</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>
    
</body>

</html>