<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>修改密码</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="./css/me.css">

    <!--手动引入部分-->
    <!--1. 引入angularjs-->
    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
    <!--2. 分页组件开始 -->
    <!-- 分页组件结束 -->
    <!--3. 引入模块，控制层，服务层-->
    <script src="./js/base.js"></script>
    <script src="./js/service/updService.js"></script>
    <script src="./js/controller/updController.js"></script>
</head>

<body ng-app="ems" ng-controller="updController">
<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">起凡科技</h2>
            <a href="#" class="m-item item m-mobile-hide"></a>
            <a href="login.html" class="m-item item m-mobile-hide"><i class="mini home icon"></i>公司首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>公司概况</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>公司部门</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>人才引进</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini rss icon"></i>网络服务</a>
            <div class="right m-item item m-mobile-hide">        <!--transparent-->
                <div class="ui icon inverted  input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
            <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
                <i class="sidebar icon"></i>
            </a>
        </div>
    </div>

</nav>


<br>
<br>
<br>
 <div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important;">
   <div class="ur container">
     <div class="ui middle aligned center aligned grid">
       <div class="column">
         <h2 class="ui teal image header">
           <div class="content">
             修改密码
           </div>
         </h2>
         <form class="ui large form" method="post" action="#">
             <div class="field">
               <div class="ui left icon input">
                   <i class="lock icon"></i>
                 <input type="password" id="newPwd1" name="newPwd1" placeholder="请输入新密码" ng-model="newPwd1">
               </div>
             </div>
             <div class="field">
               <div class="ui left icon input">
                   <i class="lock icon"></i>
                 <input type="password" id="newPwd2" name="newPwd1" placeholder="确认新密码" ng-model="newPwd2">
               </div>
             </div>
             <a class="ui fluid large teal basic button" ng-click="updPwd()">
                 确认修改
             </a>


           <div class="ui error mini message"></div>
           <!--<div class="ui mini negative message">用户名和密码错误</div>-->
         </form>

       </div>
     </div>
   </div>
 </div>
<!--底部-->
<footer class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <img src="../img/wechat.jpg" class="ui rounded image" style="width: 100px">
                </div>
            </div>
            <div class="six wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系我们</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email: 1352895716@qq.com</a>
                    <a href="#" class="item">QQ: 1352895716</a>
                    <a href="#" class="item">地址: 河南省新郑市龙湖镇</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">公司简介</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">
                    “起凡科技有限公司”是一家具有业务特色的小型科技类企业，在人员管理和业务管理等方面需要符合公司本身的特点。
                </p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright @ 2020 - 2021 Zlp Designed by Zlp</p>
    </div>
</footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<script>
 /* $('.ui.form').form({
    fields : {
      newPwd1 : {
        identifier: 'newPwd1',
        rules: [{
          type : 'empty',
          prompt: '密码不能为空'
        }]
      },
      newPwd2 : {
        identifier: 'newPwd2',
        rules: [{
          type : 'empty',
          prompt: '密码不能为空'
        }]
      }
    }
  });*/
</script>

</body>
</html>